<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link href="https://fonts.googleapis.com/css?family=Raleway:300,400,500,700" rel="stylesheet">
	<title>Nikola Pavlov Portfolio</title>
	<meta name="keywords" content="CV, Portfolio, Nikola, Pavlov, Webdesign, Logo, Design, Developer">
	<meta name="description" content="Portfolio website for Nikola Pavlov">

	<link rel="stylesheet" type="text/css" href="/temp/styles/styles.css">

</head>
<body class="site">
	<header class="site-header" id="site-top">
		<div class="wrapper">
			<div class="site-header__logo">
				<img src="assets/images/nikola-logo.svg">
			</div>

			<div class="site-header__menu-icon"></div>
			<div class="site-header__menu-content">
				<div class="site-header__btn-container">
				<a class="btn" href="#">Get in Touch</a>
			</div>
			<nav class="primary-nav primary-nav--pull-right">
				<ul>
					<li> <a href="#digital-services">Digital Services</a></li>
					<li> <a href="#mobile-ready">Mobile Ready </a></li>
					<li> <a href="#my-skills">Skills</a></li>
				</ul>
			</nav>
			</div>
		</div>
	</header>

	
		<a href="#site-top"><div class="back-to-top"><img src="assets/images/icons/flag.svg"></div></a>
	

