<% include ./partials/header %>

<div class="header-banner">
	<picture>
		<source srcset="assets/images/nikola--large.jpg" media="(min-width: 1336px)">
		<source srcset="assets/images/nikola--medium.jpg" media="(min-width: 768px)">
		<source srcset="assets/images/nikola--small.jpg" media="(min-width: 480px)">
		<img class="header-banner__image" src="assets/images/nikola-smaller.jpg" alt="porfolio image">
	</picture>
	<div class="header-banner__text-content">
		<div class="wrapper">	
			<h1 class="header-banner__title">Nikola Pavlov</h1>
			<h2 class="header-banner__subtitle">Web developer</h2>
			<p class="header-banner__description">Some lorem ipsun text goes here. just for testing purposes.. bla bla</p>
			<p><a href="#" class="btn">Contact me</a></p>
		</div>
	</div>
</div>

<div id="digital-services" class="page-section" data-matching-link="#digital-services-link">
	<div class="wrapper">
		<h2 class="section-title"><span class="icon icon--pc-settings icons--large"></span>Digital Services</h2>
		<p class="section-description">We are delivering beautiful digital products for you</p>

		
		<div class="row row--gutters">
			<div class="row__medium-4">
				
			</div>
			<div class="row__medium-4"></div>
			<div class="row__medium-4"></div>
		</div>

		<div class="row row--gutters generic-content-container">
			<div class="row__medium-4">
				<div class="flipcard up">
					<div>
						<picture>
							<source srcset="assets/images/cropped-coding.jpg" media="(min-width: 1040px)">
							<source srcset="assets/images/coding-portrait-short-hi-dpi.jpg" media="(min-width: 848px)">
							<source srcset="assets/images/coding-portrait-long-hi-dpi.jpg" media="(min-width: 768px)">
							<img class="flipcard__image" src="assets/images/coding-landscape-hi-dpi.jpg">
						</picture>
					</div>
					<div>
						<div class="flipcard__content generic-content-container"> 
							<h1 class="flipcard__title">Understand the situation</h1>
							<p class="flipcard__description">Nulla metus metus, ullamcorper vel, tincidunt sed, euismod in, nibh. Quisque volutpat condimentum velit.</p>
						</div>
					</div>
				</div>
			</div>

			<div class="row__medium-4">
				
					<div class="service-item">
						
						<h3 class="service-item__title"><span class="icon icon--flag icons icons--medium icons--brown-b icons--circle icons--padding"></span>Web developement</h3>
						<p>Lo rem ip sum do lor sit amet, conse ctet ur ad i pi scing elit, sed do eius mod tempor inc idid unt ut la bor e et dolore magna aliqua dolore magna aliqua </p>
					</div>
					<div class="service-item">
						
						<h3 class="service-item__title"><span class="icon icon--flag icons icons--medium icons--brown-b icons--circle icons--padding"></span>Pixel Perfect Design</h3>
						<p>Lo rem ip sum do lor sit amet, conse ctet ur ad i pi scing elit, sed do eius mod tempor inc idid unt ut la bor e et dolore magna aliqua dolore magna aliqua</p>
					</div>

			</div>

				<div class="row__medium-4">
					<div class="service-item">
						
						<h3 class="service-item__title"><span class="icon icon--flag icons icons--medium icons--brown-b icons--circle icons--padding"></span>Branding</h3>
						<p>Lo rem ip sum do lor sit amet, conse ctet ur ad i pi scing elit, sed do eius mod tempor inc idid unt ut la bor e et dolore magna aliqua dolore magna aliqua</p>
					</div>
					<div class="service-item">
						
						<h3 class="service-item__title"><span class="icon icon--flag icons icons--medium icons--brown-b icons--circle icons--padding"></span>Some Title</h3>
						<p>Lo rem ip sum do lor sit amet, conse ctet ur ad i pi scing elit, sed do eius mod tempor inc idid unt ut la bor e et dolore magna aliqua dolore magna aliqua</p>
					</div>
				</div>		 	
			
		</div>
	</div>
</div>




<div id="mobile-ready" class="page-section page-section--mobile-ready" data-matching-link="#mobile-ready-link">
	<div class="wrapper">
		<h1 class="section-title"><span class="icon icon--responsive-design-symbol icons--large"></span>Mobile Ready</h1>
		<div class="section-description">Lorem ipsum dolor sit amet, ipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</div>
		<div class="row row--gutters">
			<div class="row__medium-6">
				<div class="mobile-ready">
					<div class="mobile-ready__phone">
						<div class="mobile-ready__phone-content generic-content-container--small">
							<div class="mobile-ready-item-phone">
								<h2 class="headline--small--brown-left-border">What can mobile optimization do for you?</h2>
								<p>You don't need much technical knowhow to understand that a mobile optimized website encourages users to stick around. If they can easily navigate and read your site from their phone, they learn more about your company. The more they learn about your company, the more likely they are to buy from you So in order to get people to actually use your website, you obviously need a site that is mobile  optimized.</p>
							</div>
							<div class="mobile-ready-item-phone">
								<h2 class="headline--small--brown-left-border">What is Mobile Optimization?</h2>
								<p> Every year people spend more and more time on their mobile devices and tablets, but many websites still aren't designed to account for different screen sizes and load times. Mobile optimization takes a look at site design, site structure, page speed, and more to make sure you're not inadvertently turning mobile visitors away.</p>
							</div>
							<div class="mobile-ready-item-phone">
								<h2 class="headline--small--brown-left-border">Page Speed</h2>
								<p>Because of hardware and connectivity issues, page speed is even more important for mobile users than desktop users. Beyond optimizing images, you'll want to minify code, leverage browser caching, and reduce redirects. </p>
							</div>
						</div>
												<div class="mobile-ready__phone-image">
							<picture>
							<source srcset="assets/images/phone1.png" media="(min-width: 1236px)">
							<img src="assets/images/phone1-with-content.png" alt="Mobile with content">
						</picture>
						</div>
						
					</div>
				</div>
			</div>
			<div class="row__medium-6 generic-content-container">
				<div class="mobile-ready-item">
					<h2 class="headline--normal--brown-left-border">What can mobile optimization do for you?</h2>
					<p>You don't need much technical knowhow to understand that a mobile optimized website encourages users to stick around. If they can easily navigate and read your site from their phone, they learn more about your company. The more they learn about your company, the more likely they are to buy from you So in order to get people to actually use your website, you obviously need a site that is mobile  optimized.</p>
				</div>
				<div class="mobile-ready-item">
					<h2 class="headline--normal--brown-left-border">What is Mobile Optimization?</h2>
					<p> Every year people spend more and more time on their mobile devices and tablets, but many websites still aren't designed to account for different screen sizes and load times. Mobile optimization takes a look at site design, site structure, page speed, and more to make sure you're not inadvertently turning mobile visitors away.</p>
				</div>
				<div class="mobile-ready-item">
					<h2 class="headline--normal--brown-left-border">Page speed</h2>
					<p>Because of hardware and connectivity issues, page speed is even more important for mobile users than desktop users. Beyond optimizing images, you'll want to minify code, leverage browser caching, and reduce redirects. </p>
				</div>
			</div>
		</div>
	</div>
</div>


<div id="my-skills" class="page-section page-section--brown" data-matching-link="#my-skills-link">
	<div class="wrapper">
		<h1 class="section-title"><span class="icon icon--skills icons--large"></span>My Skills</h1>
		<p class="section-description">I design and develop services for customers of all sizes, specializing in creating stylish, modern websites, web services and online stores.</p>
		<div class="row row--gutters">
			<div class="row__medium-4 generic-content-container">
				<div class="content-box--brown">
					<h1 class="headline--normal">Some Title</h1>
					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It ha</p>

					<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s</p>
			</div>
			</div>
			<div class="row__medium-4">
				<div class="progress">
					<h2 class="progress__title">Professional Skills</h2>
					<div class="progress__content">
						<div class="progress__header">
							<div class="progress__description">HTML5</div>
							<div class="progress__value">95%</div>
						</div>
						<div class="progress-bar-outline">
							<div class="progress-bar-fill"></div>
						</div>
					</div>

					<div class="progress__content">
						<div class="progress__header">
							<div class="progress__description">CSS3</div>
							<div class="progress__value">85%</div>
						</div>
						<div class="progress-bar-outline">
							<div class="progress-bar-fill"></div>
						</div>
					</div>

					<div class="progress__content">
						<div class="progress__header">
							<div class="progress__description">PSD TO HTML</div>
							<div class="progress__value">64%</div>
						</div>
						<div class="progress-bar-outline">
							<div class="progress-bar-fill"></div>
						</div>
					</div>

					<div class="progress__content">
						<div class="progress__header">
							<div class="progress__description">Photoshop</div>
							<div class="progress__value">98%</div>
						</div>
						<div class="progress-bar-outline">
							<div class="progress-bar-fill"></div>
						</div>
					</div>
				</div>
			</div>


			<div class="row__medium-4">
				<div class="progress">
					<h2 class="progress__title">Personal Skills</h2>
					<div class="progress__content">
						<div class="progress__header">
							<div class="progress__description">Team Work</div>
							<div class="progress__value">59%</div>
						</div>
						<div class="progress-bar-outline">
							<div class="progress-bar-fill"></div>
						</div>
					</div>

					<div class="progress__content">
						<div class="progress__header">
							<div class="progress__description">Creativity</div>
							<div class="progress__value">70%</div>
						</div>
						<div class="progress-bar-outline">
							<div class="progress-bar-fill"></div>
						</div>
					</div>

					<div class="progress__content">
						<div class="progress__header">
							<div class="progress__description">Dedication</div>
							<div class="progress__value">60%</div>
						</div>
						<div class="progress-bar-outline">
							<div class="progress-bar-fill"></div>
						</div>
					</div>

					<div class="progress__content">
						<div class="progress__header">
							<div class="progress__description">Communication</div>
							<div class="progress__value">90%</div>
						</div>
						<div class="progress-bar-outline">
							<div class="progress-bar-fill"></div>
						</div>
					</div>
				</div></div>
		</div>
	</div>
</div>

<div id="recent-work" class="page-section page-section--gray" data-matching-link="#recent-work-link">
	<div class="wrapper wrapper--no-padding-until-medium">
		<h2 class="section-title"><span class="icon icon--tick-inside-circle icons--large"></span>Recent Work</h2>
		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
		<div class="row row--gutters generic-content-container row--equal-height-at-medium">
			<div class="row__medium-4">
				<div class="recent-work">
					<div class="recent-work__image">
						<img src="https://via.placeholder.com/1000x660">
						<div class="recent-work__banner">
							test
						</div>
					</div>
					<div class="recent-work__content">
						<h2 class="headline--normal">Some recent project</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s. </p>
						
					</div>
					<div class="recent-work__footer">
						<div class="recent-work__footer__date">
							<span class="icon icon--calendar-with-spring-binder-and-date-blocks icons--small"></span>May, 2018
						</div>
						<div class="recent-work__footer__link">
							<span class="icon icon--magnifying-glass icons--small"></span>View Project
						</div>
					</div>
				</div>
			</div>


			<div class="row__medium-4">
				<div class="recent-work">
					<div class="recent-work__image">
						<img src="https://via.placeholder.com/1000x660">
						<div class="recent-work__banner">
							test
						</div>
					</div>
					<div class="recent-work__content">
						<h2 class="headline--normal">Some recent project</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
					</div>
					<div class="recent-work__footer">
						<div class="recent-work__footer__date">
							<span class="icon icon--calendar-with-spring-binder-and-date-blocks icons--small"></span>May, 2018
						</div>
						<div class="recent-work__footer__link">
							<span class="icon icon--magnifying-glass icons--small"></span>View Project
						</div>
					</div>
				</div>
			</div>


			<div class="row__medium-4">
				<div class="recent-work">
					<div class="recent-work__image">
						<img src="https://via.placeholder.com/1000x660">
						<div class="recent-work__banner">
							test
						</div>
					</div>
					<div class="recent-work__content">
						<h2 class="headline--normal">Some recent project</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
					</div>
					<div class="recent-work__footer">
						<div class="recent-work__footer__date">
							<span class="icon icon--calendar-with-spring-binder-and-date-blocks icons--small"></span>May, 2018
						</div>
						<div class="recent-work__footer__link">
							<span class="icon icon--magnifying-glass icons--small"></span>View Project
						</div>
					</div>
				</div>
			</div>

			


		</div>
	</div>
</div>

<div id="technologies" class="page-section">
	<div class="wrapper">
		<div class="row row--gutters--small row--equal-height-at-medium">
			<div class="row__medium-2">
				<div class="technologies__content">
					<div class="technologies__image">
						<img src="assets/images/tech-logos/html.png" alt="html">
					</div>
					<div class="technologies__desc">
						<h2 class="">HTML</h2>
					</div>
				</div>
			</div>
			<div class="row__medium-2">
				<div class="technologies__content">
					<div class="technologies__image">
						<img src="assets/images/tech-logos/css.png" alt="css">
					</div>
					<div class="technologies__desc">
						<h2 class="">CSS</h2>
					</div>
				</div>
			</div>
			<div class="row__medium-2">
				<div class="technologies__content">
					<div class="technologies__image">
						<img src="assets/images/tech-logos/javascript.png" alt="javascript">
					</div>
					<div class="technologies__desc">
						<h2 class="">JavaScript</h2>
					</div>
				</div>
			</div>
			<div class="row__medium-2">
				<div class="technologies__content">
					<div class="technologies__image">
						<img src="assets/images/tech-logos/jquery.png" alt="jquery">
					</div>
					<div class="technologies__desc">
						<h2 class="">jQuery</h2>
					</div>
				</div>
			</div>
			<div class="row__medium-2">
				<div class="technologies__content">
					<div class="technologies__image">
						<img src="assets/images/tech-logos/mongodb.png" alt="mongodb">
					</div>
					<div class="technologies__desc">
						<h2 class="">MongoDB</h2>
					</div>
				</div>
			</div>
			<div class="row__medium-2">
				<div class="technologies__content">
					<div class="technologies__image">
						<img src="assets/images/tech-logos/nodejs.png" alt="nodejs">
					</div>
					<div class="technologies__desc">
						<h2 class="">NodeJS</h2>
					</div>
				</div>
			</div>
			
		</div>
	</div>
</div>


<div id="quotes" class="page-section page-section--quotes">
	<div class="wrapper">
		<h2 class="section-title"><span class="icon icon--two-quotes icons--large"></span>Quotes</h2>
		<p class="section-description">Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>	
		<div class="row row--gutters">
			<div class="row__medium-2">
				<div class="quotes__image">
					<img src="http://www.dberke.com/media/person_images/1178/square_Marc.jpg">
				</div>
			</div>
			<div class="row__medium-10">
				<p class="quotes__message"><span class="icon icon--two-quotes-small section-title__icon"></span>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.<span class="icon icon--two-quotes-small icons--small"></span></p>
				<p class="quotes__author">Lorem Ipsum is simply dummy text</p>
			</div>
		</div>
	</div>
</div>







<% include ./partials/footer %>
