<% include ./partials/header %>

<h1>Test Message for website</h1>

<div class="header-banner">
<img class="header-banner__image" src="assets/images/banner.jpg">
		<div class="header-banner__text-content">
			<div class="wrapper">	
				<h1 class="header-banner__title">Nikola Pavlov</h1>
				<h2 class="header-banner__subtitle">Web developer</h2>
				<p class="header-banner__description">Some lorem ipsun text goes here. just for testing purposes.. bla bla</p>
				<p><a href="#" class="btn">Contact me</a></p>
			</div>
		</div>
</div>

<% include ./partials/footer %>
