.back-to-top {
	bottom: 25px;
	right: 25px;
	position: fixed;
	width: 55px;
	height: 55px;
	background-color: $mainBrown;
	border: 3px solid $lightPink;
	border-radius: 30px;
	z-index: 2;

	&__arrow {
		position: absolute;
		color: #FFF;
		font-size: 40px;
		right: 18px;
		transform: rotate(-90deg) scale(1);	
		transition: all .3s ease-out;
		transform-origin: 50% 50%;
	}

	&:hover &__arrow {
		transform: rotate(270deg) scale(1.2);

	}
}