.btn {
	background-color: $mainBrown;
	color: #FFF;
	text-decoration: none;
	padding: .75rem 1.2rem;
	display: inline-block;

	&--light {
		background-color: $lightPink;
		color: $mainBrown;
		text-decoration: none;
		padding: .75rem 1.2rem;
		display: inline-block;
	}

	&--float-right {
		background-color: $mainBrown;
			color: #FFF;
			position: relative;
			text-decoration: none;
			display: inline-block;
			padding: .75rem 1.2rem;
			position: relative;
			left: 50%;
			transform: translateX(-50%);

		@mixin atLarge {
			left: unset;
			transform: unset;
			float: right;

		}
	}
}