.generic-content-container {
	p {
		line-height: 1.75;
		font-size: .95rem;
		margin: 0 0 1.8rem 0;
	}

	p a {
		font-weight: 700;
	}
}



.generic-content-container--small {
	p {
			font-size: .825rem;
			line-height: 1.7;
	}

	p a {
		font-size: 700;
	}
}
