.page-section {

	padding: 1.8rem 0;
	border-bottom: 1px solid #eee;
	flex: 1 0 auto;

	@mixin atMedium {
		padding: 4.5rem 0;
	}

	&--brown {
		background-color: $mainBrown;
		color: #FFF;

		::selection {
    	color: $mainBrown;
    	background-color: $lightPink;
	}
	}

	&--mobile-ready {
		background: linear-gradient(to bottom, #f1e8e3 0%,#ffffff 100%);

	}

	&--quotes {
		::selection {
    	color: $mainBrown;
    	background-color: $lightPink;
	}
		background-attachment: fixed;
		position: relative;
		color: #FFF;
		background: url("/assets/images/vodno-skopje.jpg") bottom center no-repeat;
		background-size: cover;
	}

	&--bigger-t-padding {
		padding-top: 150px;
	}

	&--contact {
		
		
		@mixin atLarge {
			background-attachment: fixed;
			position: relative;
			background: url("/assets/images/kozjak.jpg") bottom center no-repeat;
			background-size: cover;
		}
	}


}




