.row {
	
	@mixin clearfix;

	&--gutters {

		margin-right: 0;

		@mixin atXSmall {
			margin-right: 0;	
		}

		@mixin atSmall {
			margin-right: -20px;
		}

		@mixin atMedium {
			margin-right: -30px;
		}

		@mixin atLarge {
			margin-right: -40px;
		}

		@mixin atXLarge {
			margin-right: -50px;
		}
	}

	&--gutters > div {

		padding-right: 0;

		@mixin atXSmall {
			padding-right: 0;
		}

		@mixin atSmall {
			padding-right: 20px;
		}

		@mixin atMedium {
			padding-right: 30px;
		}

		@mixin atLarge {
			padding-right: 40px;
		}

		@mixin atXLarge {
			padding-right: 50px;
		}
	}



	&--gutters--small {

		margin-right: 0;

		@mixin atXSmall {
			margin-right: 0;	
		}

		@mixin atSmall {
			margin-right: -10px;
		}

		@mixin atMedium {
			margin-right: -15px;
		}

		@mixin atLarge {
			margin-right: -20px;
		}

		@mixin atXLarge {
			margin-right: -25px;
		}
	}

	&--gutters--small > div {

		padding-right: 0;

		@mixin atXSmall {
			padding-right: 0;
		}

		@mixin atSmall {
			padding-right: 10px;
		}

		@mixin atMedium {
			padding-right: 15px;
		}

		@mixin atLarge {
			padding-right: 20px;
		}

		@mixin atXLarge {
			padding-right: 25px;
		}
	}










	&__medium-2 {
		float: left;
		width: 100%;

		@mixin atXSmall {
			float: left;
			width: 100%;
		}

		@mixin atSmall {
			float: left;
			width: 50%;
		}

		@mixin atMedium {
			float: left;
			width: 33.33%;
		}

		@mixin atLarge {
			float: left;
			width: 16.66%;
		}

		@mixin atXLarge {
			float: left;
			width: 16.66%;
		}
	}















	&__medium-4 {
		float: left;
		width: 100%;

		@mixin atXSmall {
			float: left;
			width: 100%;
		}

		@mixin atSmall {
			float: left;
			width: 100%;
		}

		@mixin atMedium {
			float: left;
			width: 33.33%;
		}

		@mixin atLarge {
			float: left;
			width: 33.33%;
		}

		@mixin atXLarge {
			float: left;
			width: 33.33%;
		}
	}














	&__medium-6 {
		float: left;
		width: 100%;

		@mixin atXSmall {
			float: left;
			width: 100%;
		}

		@mixin atSmall {
			float: left;
			width: 100%;
		}

		@mixin atMedium {
			float: left;
			width: 50%;
		}

		@mixin atLarge {
			float: left;
			width: 50%;
		}

		@mixin atXLarge {
			float: left;
			width: 50%;
		}
	}












	&__medium-8 {
		float: left;
		width: 100%;

		@mixin atXSmall {
			float: left;
			width: 100%;
		}

		@mixin atSmall {
			float: left;
			width: 100%;
		}

		@mixin atMedium {
			float: left;
			width: 66.66%;
		}

		@mixin atLarge {
			float: left;
			width: 66.66%;
		}

		@mixin atXLarge {
			float: left;
			width: 66.66%;
		}
	}




	&__medium-10 {
		float: left;
		width: 100%;

		@mixin atXSmall {
			float: left;
			width: 100%;
		}

		@mixin atSmall {
			float: left;
			width: 100%;
		}

		@mixin atMedium {
			float: left;
			width: 100%;
		}

		@mixin atLarge {
			float: left;
			width: 83.33%;
		}

		@mixin atXLarge {
			float: left;
			width: 83.33%;
		}
	}







	&__medium-12 {
		width: 100%;
	}


/* Equal Height Rules */

	&--equal-height-at-medium {

		

		@mixin atMedium {
			display: flex;

				& > div {
				float: none;
				display: flex;
			}			
		}
		
	}

}

