.service-item {
	padding-left: 62px;
	position: relative;
	padding-bottom: .1rem;

	@mixin atMedium {
		padding-left: 70px;
	}

	&__icon {
		position: absolute;
		left: 0;
		background-color: $mainBrown;
		width: 2.8rem;
		border-radius: 1.8rem;
		border: 3px solid $secondaryBrown;
		padding: .5rem;

		@mixin atMedium {
			width: 3.2rem;
			border-radius: 1.8rem;
			border: 4px solid $secondaryBrown;
			padding: .7rem;
		}
	}

	&__title {
		font-size: 1.25rem;
		margin-bottom: .8rem;
	}
}