.technologies {


	&__content {
	
		@mixin atXSmall{
			height: 60px;
			width: 100%;
			background-color: #EEE;
			display: block;
			border-radius: 10px;
			position: relative;
			margin-bottom: 1rem;
			overflow: hidden;
		}

		@mixin atSmall {
			
		}

		@mixin atMedium {
			height: 230px;
			width: unset;
			overflow: hidden;
			margin-bottom: 0;
		}

		@mixin atXLarge {
			height: 60px;
			width: 100%;
		}
	}

	&__image {
		

		@mixin atXSmall {
			width: 30%;
			float: left;
			height: 60px;
		}

		@mixin atSmall{
			
		}

		@mixin atMedium {
			width: unset;
			height: unset;
		}

		@mixin atXLarge {
			height: 100%;
			width: 30%;
			float: left;
			display: block;
		}
	}

	&__image img {

		@mixin atXSmall {
			height: 60px;
		}

		@mixin atMedium {
			height: unset;
		}

		@mixin atXLarge {
			display: block;
			height: 100%;
		}
	}

	&__desc {

		@mixin atXSmall {
			float: left;
			width: 70%;
			font-size: 12px;
			top: 50%;
			position: relative;
			transform: translate(-50%,-50%);
			left: 50%;

		}

		@mixin atSmall {
			
		}
		
		@mixin atMedium {
			position: relative;
			float: none;
			text-align: center;
			font-size: 10px;
		}

		@mixin atXLarge {
		float: left;
		left: 0;
		top: 50%;
		width: 70%;
		transform: translateY(-50%);
		}
	}

	&__desc h2 {
			font-weight: 400;
	}
}